/**Custom style sheet**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, nav, footer {
  /* background-color: #222; */
  --s: 240px; /* control the size */
  --c1: #222;
  --c2: #2a2a2a;
  
  --_g:var(--c1) 15%,var(--c2) 0 28%,#0000 0 72%,var(--c2) 0 85%,var(--c1) 0;
  background:
      conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--c1) 0) -1px -1px,
      linear-gradient(-45deg,var(--_g)),linear-gradient(45deg,var(--_g)),
      conic-gradient(from 90deg at 40% 40%,var(--c1) 25%,var(--c2) 0) 
      calc(var(--s)/-5) calc(var(--s)/-5);
  background-size: var(--s) var(--s);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#boderg-bg {
  max-width: 90%;
}

h5 {
  text-shadow: 1px 1px 1px #222;
}

#header1 {
  margin-top: 60px;
}

h5 {
  padding-bottom: 30px;
}

.icons {
  background-color: #444;
  box-shadow: 0 5px 15px #000;
  border-radius: 8px;
  border: 10px solid #03a9f4;
}

.front-end .icons {
  transform: rotate(15deg);
}

.back-end .icons {
  transform: rotate(-15deg);
}

.dev-ops .icons {
  transform: rotate(15deg);
}

.icons img {
  -webkit-filter: drop-shadow(5px 10px 10px #000);
  filter: drop-shadow(5px 5px 5px #000);
  padding: 30px 5px 10px 5px;
  width: 150px;
  height: 150px;
}

.icons p {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px #222;
  padding: 10px 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 23px;
  left: 20px;
}

.card {
  border: 10px solid #03a9f4;
  border-radius: 8px;
  box-shadow: 0 5px 15px #000;
  background-color: #444;
}

.card-content {
  height: 200px;
}

.card-title,
.card-action a {
  text-shadow: 1px 1px 1px #222;
}