/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, nav, footer {
  /* background-color: #222; */
  --s: 240px; /* control the size */
  --c1: #222;
  --c2: #2a2a2a;
  
  --_g:var(--c1) 15%,var(--c2) 0 28%,#0000 0 72%,var(--c2) 0 85%,var(--c1) 0;
  background:
      conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--c1) 0) -1px -1px,
      linear-gradient(-45deg,var(--_g)),linear-gradient(45deg,var(--_g)),
      conic-gradient(from 90deg at 40% 40%,var(--c1) 25%,var(--c2) 0) 
      calc(var(--s)/-5) calc(var(--s)/-5);
  background-size: var(--s) var(--s);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 750px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#boderg-bg {
  max-width: 90%;
}

h5 {
  text-shadow: 1px 1px 1px #222;
}

#header1 {
  margin-top: 60px;
}