html {
    --s: 120px; /* control the size */
    --c1: #222;
    --c2: #2a2a2a;
    
    --_g:var(--c1) 15%,var(--c2) 0 28%,#0000 0 72%,var(--c2) 0 85%,var(--c1) 0;
    background:
        conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--c1) 0) -1px -1px,
        linear-gradient(-45deg,var(--_g)),linear-gradient(45deg,var(--_g)),
        conic-gradient(from 90deg at 40% 40%,var(--c1) 25%,var(--c2) 0) 
        calc(var(--s)/-5) calc(var(--s)/-5);
    background-size: var(--s) var(--s);
}

#header1 {
    margin-top: 55px;
    padding: 30px;
    width: 100%;
    background-color: #222;
}

h3 {
    padding-bottom: 30px;
}

.icons {
    padding: 10px 0px;
    font-size: 3.5em;
}

.icons p {
    font-size: 1.5rem;
}

