body {
    --s: 240px; /* control the size */
    --c1: #222;
    --c2: #2a2a2a;
    
    --_g:var(--c1) 15%,var(--c2) 0 28%,#0000 0 72%,var(--c2) 0 85%,var(--c1) 0;
    background:
        conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--c1) 0) -1px -1px,
        linear-gradient(-45deg,var(--_g)),linear-gradient(45deg,var(--_g)),
        conic-gradient(from 90deg at 40% 40%,var(--c1) 25%,var(--c2) 0) 
        calc(var(--s)/-5) calc(var(--s)/-5);
    background-size: var(--s) var(--s);
}

#header1 {
    margin-top: 55px;
    padding: 30px;
    width: 100%;
    background-color: #222;
}

h3 {
    padding-bottom: 30px;
}

.icons {
    background-color: #555;
    transform: rotate(15deg);
    box-shadow: 0 5px 15px #000;
    border-radius: 8px;
    border: 10px solid #03a9f4;
}

.icons img {
    -webkit-filter: drop-shadow(5px 10px 10px #000);
    filter: drop-shadow(5px 5px 5px #000);
    padding: 30px 5px 5px 5px;
    width: 150px;
    height: 150px;
}

.icons p {
    font-size: 1.5rem;
    text-align: center;
}

